<%- include('partials/header') -%>


<main class="container">
    <div>
        <h1>About the ArtCircle Community</h1>
        <p>Art circle was founded to provide an online art community for artists and creatives to connect, socialize, to find inspiration, and to inspire others! Here we find friendship, give feedback, receive constructive criticism, share and learn new techniques, and learn about art supplies used by others in the community. Art Circle is free to join and was developed by artists, for artists. </p>
        <p>Coming soon... new art challenges each month! </p>
    </div>
</main>
<div class="background-image-2">
</div>

<%- include('partials/footer') -%>