<%- include('partials/header') -%>


<main class="container">
    <div>
        <div class="blog-header">
            <h1 class="blog-welcome">Welcome to the Community Blog!</h1>
            <h4 class="blog-welcome">All posts are submitted by artists from our community.  To submit a blog post, email your article to blog@artcircle.com</h4>
        </div>
        
        <h2>Tips on Choosing a Paint Medium for Your Project</h2>
        <h5 class="author">by Lenora Labadie</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo accusantium repudiandae praesentium! Voluptatem blanditiis, nam minima ducimus reprehenderit cupiditate dolorem, enim provident dolorum tenetur praesentium? Id inventore ipsam itaque corporis.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, placeat possimus? Impedit, repellendus quae nam harum ipsum iusto numquam eaque nemo sint fuga dolorum quam. Quam quos temporibus velit aut excepturi error! Recusandae eaque non, et esse quod labore at harum rerum dicta deleniti quaerat adipisci rem, quo qui. Quos ducimus animi rem necessitatibus similique neque exercitationem vitae dicta, aspernatur mollitia hic totam laudantium blanditiis provident aperiam error eius suscipit sequi perspiciatis consectetur doloremque commodi?</p>
        
        <h2>Storing and Preserving Your Art</h2>
        <h5 class="author">by Andre Auberjonois</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, veniam quia eum incidunt cupiditate impedit architecto minus veritatis suscipit iste expedita officia consectetur, nobis, culpa similique eveniet quas. Dicta omnis dolore cumque ipsa in eligendi, atque a molestias ad ex velit quidem suscipit vero commodi numquam culpa similique asperiores ullam maiores delectus nostrum? Deserunt, quia. Culpa eaque repellat reiciendis accusamus rerum? Quibusdam, corporis sunt tempora repudiandae fuga ea dolorum perferendis vel nulla totam, atque inventore odio aliquam sed. Adipisci, accusamus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo accusantium repudiandae praesentium! Voluptatem blanditiis, nam minima ducimus reprehenderit cupiditate dolorem, enim provident dolorum tenetur praesentium? Id inventore ipsam itaque corporis.</p>
        
        <h2 class="blog-title">Diptychs (two-canvas paintings) and Triptychs (three-canvas paintings)</h2>
        <h5 class="author">by Mario Stanton</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi labore cumque quasi iste tempora, aut voluptates, provident debitis ad obcaecati, placeat suscipit voluptatibus ratione tenetur iure eum ipsum necessitatibus doloribus?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, aliquid molestiae! Facilis explicabo esse necessitatibus alias voluptates itaque accusamus natus ullam dicta? Mollitia quis fugit culpa est laborum? At facilis deserunt labore, sit deleniti quam facere nihil quis perferendis, consequatur rem. Ipsam dolorem consequuntur doloremque delectus dolore! Officiis tempora itaque ipsum quam aliquam distinctio possimus fuga eligendi eos illum velit numquam architecto aperiam recusandae rerum laboriosam voluptatem, beatae delectus id. Modi, delectus. Mollitia aut ratione error, odio perferendis cum nisi impedit doloribus quam a rerum quisquam, nam voluptatum debitis? Tempore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dignissimos minus fuga, nemo quasi magnam facere possimus nihil? Beatae error quis quod nihil. Suscipit magnam ab ipsa labore, quod soluta.</p> 
    </div>
</main>
<div class="background-image-3">
</div>

<%- include('partials/footer') -%>