<%- include('partials/header') -%>
<div class="background-image">
    <div class="white-box">
        <div class="container welcome-title">
            <h2>Welcome to ArtCircle</h2>
            <h3>Please sign in or register</h3>
            <div class="row justify-content-around mt-5">
                <a href="/login" class="col-3 btn btn-success"> Sign in</a>
                <a href="/signup" class="col-3 btn btn-success"> Register</a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>